*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 30px;
  border: 4px solid #000000;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7; 
}

body{
  overflow-x: hidden;
}
.home{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(33, 33, 33, 0.75),rgba(0,0,0,0)),url(images/ed-sheeran-2022-tour.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
  height: 100px;
  width: 100%;
  background-color: rgb(0,0,0,2);
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 0;
  position: fixed;
  z-index: 1;
}
img{
  height: 100px;
  padding-top: 5px;

  opacity: 1;
}
nav a{
  font-family: "Bungee", sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 1.5rem;
}
nav a:hover{
  color:  #00f2ff;
}

ul{
  list-style: none;
}
ul li{
  display: inline-block;
  position: relative;
}
ul li a{
  display: block;
  padding: 20px 35px;
  color: #ffffff;
  text-align: center;
}
ul li ul.dropdown li{
  display: block;
}
ul li ul.dropdown{
  width: 100%;
  background: black;
  position: absolute;
  z-index: 999;
  display: none;
  line-height: 1rem;
}
ul li a:hover{
  background-color: rgb(0, 0, 0);
}
ul li:hover ul.dropdown{
  display: block;
}
.logo:hover{
  cursor: pointer;
}
.About{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(47, 23, 0, 0.75),rgba(0, 0, 0, 0)),url(images/Concert.jpg);
    background-size:cover;
    background-position: center;
}
.About{
  margin: auto;
  text-align: center;
  padding-top: 200px;
  color: #fff;
}
h1{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-size: 50px;
}
p{
  font-family: "Bungee", sans-serif;
  font-size: 25px;
  padding-top: 10px;
}


/*Ed Sheeran*/

@font-face {
  font-family: EdSheeranFont;
  src: url(fonts/Remington-Noiseless.ttf);
}

.EdSheeran{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(7, 0, 44, 0.555),rgba(0, 0, 0, 0)),url(images/EDbg.jpeg);
  background-size:cover;
  background-position: center;
}
.EdSheeran{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.EdSheeran h1{
  font-family: EdSheeranFont;
  font-size: 70px;
  font-weight: 600;
}
.EdSheeran p{
  font-family: EdSheeranFont;
  font-size: 20px;
}


.ed-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -80px;
}
.ed-abt img{
  width: 40%;
  height: auto;
  padding-top: 100px;
  padding-left: 250px;
}
.layer{
  background: transparent;
  height: 100%;
  width: 40%;
  position: absolute;
  display: block;
  top: 100px;
  left: 250px;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.layer h3{
  font-family: EdSheeranFont;
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  font-family: EdSheeranFont;
  font-size: 40px;
  bottom: 60%;
  opacity: 1;
 }


.abt-popup{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 60px 30px 10px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  z-index: 2;
}
.abt-popup p{
  font-size: 20px;
  line-height: 25px;
}
.abt-popup h2{
  font-family: EdSheeranFont;
  font-size: 50px;
  line-height: 90px;
}

.abt-popup li{
  font-family: EdSheeranFont;
  font-size: 20px;
  line-height: 25px;
}

.abt-popup ul a{
  font-family: EdSheeranFont;
  font-size: 20px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  padding-left: 30px;
}
.abt-popup ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup ul a img{
  width: 15px;
  margin-top: -80px;
  margin-left: -290px;
  padding-right: 10px;
  
}
.abt-popup ul a.sptfy img{
  width: 30px;
  margin-left: -297px;
  padding-right: 3px ;
}
.Close{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


.container{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.swiper{
  width: 70%;
  height: auto;
  margin : 10px;
}
.swiper-slide img{
  position: relative;
  top: 50%; left: 50%;
  transform: translate(60%, 5%);
  object-fit: cover;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #fff;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
}
.swiper .swiper-pagination-bullet-active{
  background: #fff;
}
.closeE{
  position: absolute;
  top: 95px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Taylor Swift*/

.TaylorSwift{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(44, 0, 110, 0.555),rgba(0, 0, 0, 0)),url(images/SWFTbg.jpg);
  background-size:cover;
  background-position: center;
}
.TaylorSwift{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.TaylorSwift h1{
  font-family: "Bodoni Moda", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-weight: 600;

}
.TaylorSwift p{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 30px;
}


.tay-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.tay-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.t-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.t-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.t-layer h3{
  font-family: "Bodoni Moda", sans-serif;
  width: 100%;
  font-weight: 500;
  font-size: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.t-layer:hover h3{
  font-family: "Bodoni Moda", sans-serif;
  bottom: 70%;
  opacity: 1;
 }


.abt-popup-T{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 40px 30px 10px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-T p{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 20px;
}
.abt-popup-T h2{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 35px;
  line-height: 70px;
}
.CloseT{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-T li{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.abt-popup-T ul a{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -200px;
}
.abt-popup-T ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-T ul a img{
  width: 15px;
  margin-top: -90px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-T ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


/* Slideshow container */
.slideshow-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
/* Hide the images by default */
.mySlides {
  position: relative;
  width: 30%;
  transform: translate( 35%, -10%);
  object-fit: cover;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -25%;
  margin-right: 325px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.close-disc-T{
  position: absolute;
  top: 95px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*The Weeknd*/

@font-face {
  font-family: WeekndFont;
  src: url(fonts/BrianJames.ttf);
}

.WEEKND{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(46, 0, 0, 0.555),rgba(0, 0, 0, 0)),url(images/WEEKNDbg.jpg);
  background-size:cover;
  background-position: center;
}
.WEEKND{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.WEEKND h1{
  font-family: WeekndFont;
  font-size: 70px;
  font-weight: 600;
}
.WEEKND p{
  font-family: WeekndFont;
  font-size: 25px;
}


.weeknd-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.weeknd-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.w-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.w-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.w-layer h3{
  font-family: WeekndFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.w-layer:hover h3{
  font-family: WeekndFont;
  bottom: 70%;
  opacity: 1;
 }


.abt-popup-W{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 30px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-W p{
  font-size: 14px;
}
.abt-popup-W h2{
  font-family: WeekndFont;
  font-size: 30px;
  line-height: 60px;
}
.CloseW{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-W li{
  font-family: WeekndFont;
  font-size: 14px;
}
.abt-popup-W ul a{
  font-family: WeekndFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-W ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-W ul a img{
  width: 15px;
  margin-top: -80px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-W ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc{
  position: absolute;
  top: 95px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Laufey*/

@font-face {
  font-family: LaufeyFont;
  src: url(fonts/OPTIBodoniAntiqua-Italic.otf);
}

.LAUFEY{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(17, 0, 102, 0.555),rgba(0, 0, 0, 0)),url(images/LAUFEYbg.jpg);
  background-size:cover;
  background-position: center;
}
.LAUFEY{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.LAUFEY h1{
  font-family: LaufeyFont;
  font-size: 80px;
  font-weight: 100;
}
.LAUFEY p{
  font-family: LaufeyFont;
  font-size: 30px;
}


.laufey-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.laufey-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.l-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.l-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.l-layer h3{
  font-family: LaufeyFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.l-layer:hover h3{
  font-family: LaufeyFont;
  bottom: 70%;
  opacity: 1;
 }


 .abt-popup-L{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 20px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-L p{
  font-size: 18px;
}
.abt-popup-L h2{
  font-family: LaufeyFont;
  font-size: 40px;
  line-height: 70px;
}
.CloseL{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-L li{
  font-family: LaufeyFont;
  font-size: 18px;
}
.abt-popup-L ul a{
  font-family: LaufeyFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -200px;
}
.abt-popup-L ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-L ul a img{
  width: 15px;
  margin-top: -85px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-L ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container2 {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc2{
  position: absolute;
  top: 95px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Daniel Caesar*/

@font-face {
  font-family: CaesarFont;
  src: url(fonts/OPTIDanley-Bold.otf);
}

.CAESAR{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 78, 70, 0.555),rgba(0, 0, 0, 0)),url(images/CAESARbg.jpg);
  background-size:cover;
  background-position: center;
}
.CAESAR{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.CAESAR h1{
  font-family: CaesarFont;
  font-size: 60px;
  font-weight: 400;
}
.CAESAR p{
  font-family: CaesarFont;
  font-size: 25px;
}


.caesar-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.caesar-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.c-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.c-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.c-layer h3{
  font-family: CaesarFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.c-layer:hover h3{
  font-family: CaesarFont;
  bottom: 70%;
  opacity: 1;
 }


.abt-popup-C{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 10px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-C p{
  font-size: 18px;
  line-height: 25px;
}
.abt-popup-C h2{
  font-family: CaesarFont;
  font-size: 40px;
  line-height: 60px;
}
.CloseC{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-C li{
  font-family: CaesarFont;
  font-size: 18px;
  line-height: 30px;
}
.abt-popup-C ul a{
  font-family: CaesarFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-C ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-C ul a img{
  width: 15px;
  margin-top: -80px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-C ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container3 {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc3{
  position: absolute;
  top: 95px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Niki*/

@font-face {
  font-family: NikiFont;
  src: url(fonts/Wondar\ Quason\ Free.ttf);
}

.NIKI{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(2, 0, 144, 0.555),rgba(0, 0, 0, 0)),url(images/NIKIbg.jpg);
  background-size:cover;
  background-position: center;
}
.NIKI{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.NIKI h1{
  font-family: NikiFont;
  font-size: 80px;
  font-weight: 400;
}
.NIKI p{
  font-family: NikiFont;
  font-size: 30px;
}


.niki-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.niki-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.n-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.n-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.n-layer h3{
  font-family: NikiFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.n-layer:hover h3{
  font-family: NikiFont;
  bottom: 70%;
  opacity: 1;
 }


 .abt-popup-N{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 20px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-N p{
  font-size: 18px;
  line-height: 20px;
}
.abt-popup-N h2{
  font-family: NikiFont;
  font-size: 40px;
  line-height: 70px;
}
.CloseN{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-N li{
  font-family: NikiFont;
  font-size: 18px;
  line-height: 25px;
}
.abt-popup-N ul a{
  font-family: NikiFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-N ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-N ul a img{
  width: 15px;
  margin-top: -80px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-N ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container4{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc4{
  position: absolute;
  top: 95px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}

/*Mrld*/

.MRLD{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(92, 0, 47, 0.555),rgba(0, 0, 0, 0)),url(images/MRLDbg.jpg);
  background-size:cover;
  background-position: center;
}
.MRLD{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.MRLD h1{
  font-size: 60px;
  font-weight: 400;
}
.MRLD p{
  font-size: 20px;
}


.mrld-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.mrld-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.m-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.m-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.m-layer h3{
  font-family: "Bungee", sans-serif;
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.m-layer:hover h3{
  bottom: 70%;
  opacity: 1;
 }


 .abt-popup-M{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 40px 30px 20px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-M p{
  font-size: 13px;
}
h2{
  font-family: "Bungee", sans-serif;
  font-size: 20px;
}
.CloseM{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-M li{
  font-family: "Bungee", sans-serif;
  font-size: 13px;
}
.abt-popup-M ul a{
  font-family: "Bungee", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-M ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-M ul a img{
  width: 15px;
  margin-top: -90px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-M ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container5{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc5{
  position: absolute;
  top: 95px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}










.slides {
  width: 100%;
  height: auto;
  margin : 10px;
}
.slides img {
  position: relative;
  top: 50%; left: 50%;
  transform: translate( -113%, -10%);
  object-fit: cover;
}
button {
  position: absolute;
  top: 50%;
  transform: translateY(0);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.next {
  right: 4%;
}