*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 30px;
  border: 4px solid #000000;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7; 
}

body{
  overflow-x: hidden;
}
.home{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(33, 33, 33, 0.75),rgba(0,0,0,0)),url(images/ed-sheeran-2022-tour.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
  height: 10%;
  width: 100%;
  background-color: rgb(0,0,0,2);
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  z-index: 1;
  
}
img{
  height: 6.25rem;
  padding-top: 0.5rem;
  opacity: 1;
}
nav a{
  font-family: "Bungee", sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 1.5rem;
}
nav a:hover{
  color:  #00f2ff;
}

ul{
  list-style: none;
}
ul li{
  display: inline-block;
  position: relative;
}
ul li a{
  display: block;
  padding: 1rem 2rem;
  color: #ffffff;
  text-align: center;
}
ul li ul.dropdown li{
  display: block;
}
ul li ul.dropdown{
  width: 100%;
  background: black;
  position: absolute;
  z-index: 999;
  display: none;
  line-height: 1rem;
}
ul li a:hover{
  background-color: rgb(0, 0, 0);
}
ul li:hover ul.dropdown{
  display: block;
}
.logo a{
  padding: 0;
}
.logo:hover{
  cursor: pointer;
}
.About{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(47, 23, 0, 0.75),rgba(0, 0, 0, 0)),url(images/Concert.jpg);
    background-size:cover;
    background-position: center;
}
.About{
  margin: auto;
  text-align: center;
  color: #fff;
}
h1{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-size: 50px;
}
p{
  font-family: "Bungee", sans-serif;
  font-size: 25px;
  padding: 10px 50px 0px;
  
}


/*Ed Sheeran*/

@font-face {
  font-family: EdSheeranFont;
  src: url(fonts/Remington-Noiseless.ttf);
}

.EdSheeran{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(7, 0, 44, 0.555),rgba(0, 0, 0, 0)),url(images/EDbg.jpeg);
  background-size:cover;
  background-position: center;
}
.EdSheeran{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.EdSheeran h1{
  font-family: EdSheeranFont;
  font-size: 70px;
  font-weight: 600;
}
.EdSheeran p{
  font-family: EdSheeranFont;
  font-size: 20px;
}


.ed-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -80px;
}
.ed-abt img{
  width: 40%;
  height: auto;
  padding-top: 100px;
  padding-left: 250px;
}
.layer{
  background: transparent;
  height: 100%;
  width: 40%;
  position: absolute;
  display: block;
  top: 100px;
  left: 250px;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.layer h3{
  font-family: EdSheeranFont;
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  font-family: EdSheeranFont;
  font-size: 40px;
  bottom: 60%;
  opacity: 1;
 }


.abt-popup{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 40px 30px 10px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  z-index: 2;
}
.abt-popup p{
  font-size: 20px;
  line-height: 25px;
}
.abt-popup h2{
  font-family: EdSheeranFont;
  font-size: 50px;
  line-height: 70px;
}

.abt-popup li{
  font-family: EdSheeranFont;
  font-size: 20px;
  line-height: 25px;
}

.abt-popup ul a{
  font-family: EdSheeranFont;
  font-size: 20px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  padding-left: 30px;
}
.abt-popup ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup ul a img{
  width: 15px;
  margin-top: -85px;
  margin-left: -290px;
  padding-right: 10px;
  
}
.abt-popup ul a.sptfy img{
  width: 30px;
  margin-left: -297px;
  padding-right: 3px ;
}
.Close{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}

.container{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  overflow: visible;
}
.swiper{
  width: 70%;
  height: auto;
  margin : 10px;
  text-decoration: none;
}
.swiper-slide .swiper-slide-active{
  width: 100vw;
  height: auto;
}
.swiper-slide img{
  position: relative;
  top: 50%; left: 50%;
  transform: translate(60%, 5%);
  object-fit: cover;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #fff;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
}
.swiper .swiper-pagination-bullet-active{
  background: #fff;
}
.closeE{
  position: absolute;
  top: 10%; left: 0.5%;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Taylor Swift*/

.TaylorSwift{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(44, 0, 110, 0.555),rgba(0, 0, 0, 0)),url(images/SWFTbg.jpg);
  background-size:cover;
  background-position: center;
}
.TaylorSwift{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.TaylorSwift h1{
  font-family: "Bodoni Moda", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-weight: 600;

}
.TaylorSwift p{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 30px;
}


.tay-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.tay-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.t-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.t-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.t-layer h3{
  font-family: "Bodoni Moda", sans-serif;
  width: 100%;
  font-weight: 500;
  font-size: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.t-layer:hover h3{
  font-family: "Bodoni Moda", sans-serif;
  bottom: 70%;
  opacity: 1;
 }


.abt-popup-T{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 40px 30px 10px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-T p{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 20px;
}
.abt-popup-T h2{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 35px;
  line-height: 70px;
}
.CloseT{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-T li{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.abt-popup-T ul a{
  font-family: "Bodoni Moda", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -200px;
}
.abt-popup-T ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-T ul a img{
  width: 15px;
  margin-top: -90px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-T ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


/* Slideshow container */
.slideshow-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
/* Hide the images by default */
.mySlides {
  position: relative;
  width: 30%;
  transform: translate( 35%, -10%);
  object-fit: cover;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -25%;
  margin-right: 325px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.close-disc-T{
  position: absolute;
  top: 60px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*The Weeknd*/

@font-face {
  font-family: WeekndFont;
  src: url(fonts/BrianJames.ttf);
}

.WEEKND{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(46, 0, 0, 0.555),rgba(0, 0, 0, 0)),url(images/WEEKNDbg.jpg);
  background-size:cover;
  background-position: center;
}
.WEEKND{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.WEEKND h1{
  font-family: WeekndFont;
  font-size: 70px;
  font-weight: 600;
}
.WEEKND p{
  font-family: WeekndFont;
  font-size: 25px;
}


.weeknd-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.weeknd-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.w-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.w-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.w-layer h3{
  font-family: WeekndFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.w-layer:hover h3{
  font-family: WeekndFont;
  bottom: 70%;
  opacity: 1;
 }


.abt-popup-W{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 30px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-W p{
  font-size: 14px;
}
.abt-popup-W h2{
  font-family: WeekndFont;
  font-size: 30px;
  line-height: 60px;
}
.CloseW{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-W li{
  font-family: WeekndFont;
  font-size: 14px;
}
.abt-popup-W ul a{
  font-family: WeekndFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-W ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-W ul a img{
  width: 15px;
  margin-top: -80px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-W ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc{
  position: absolute;
  top: 60px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Laufey*/

@font-face {
  font-family: LaufeyFont;
  src: url(fonts/OPTIBodoniAntiqua-Italic.otf);
}

.LAUFEY{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(17, 0, 102, 0.555),rgba(0, 0, 0, 0)),url(images/LAUFEYbg.jpg);
  background-size:cover;
  background-position: center;
}
.LAUFEY{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.LAUFEY h1{
  font-family: LaufeyFont;
  font-size: 80px;
  font-weight: 100;
}
.LAUFEY p{
  font-family: LaufeyFont;
  font-size: 30px;
}


.laufey-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.laufey-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.l-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.l-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.l-layer h3{
  font-family: LaufeyFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.l-layer:hover h3{
  font-family: LaufeyFont;
  bottom: 70%;
  opacity: 1;
 }


 .abt-popup-L{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 20px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-L p{
  font-size: 18px;
}
.abt-popup-L h2{
  font-family: LaufeyFont;
  font-size: 40px;
  line-height: 70px;
}
.CloseL{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-L li{
  font-family: LaufeyFont;
  font-size: 18px;
}
.abt-popup-L ul a{
  font-family: LaufeyFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -200px;
}
.abt-popup-L ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-L ul a img{
  width: 15px;
  margin-top: -85px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-L ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container2 {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc2{
  position: absolute;
  top: 60px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Daniel Caesar*/

@font-face {
  font-family: CaesarFont;
  src: url(fonts/OPTIDanley-Bold.otf);
}

.CAESAR{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 78, 70, 0.555),rgba(0, 0, 0, 0)),url(images/CAESARbg.jpg);
  background-size:cover;
  background-position: center;
}
.CAESAR{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.CAESAR h1{
  font-family: CaesarFont;
  font-size: 60px;
  font-weight: 400;
}
.CAESAR p{
  font-family: CaesarFont;
  font-size: 25px;
}


.caesar-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.caesar-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.c-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.c-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.c-layer h3{
  font-family: CaesarFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.c-layer:hover h3{
  font-family: CaesarFont;
  bottom: 70%;
  opacity: 1;
 }


.abt-popup-C{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 10px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-C p{
  font-size: 18px;
  line-height: 25px;
}
.abt-popup-C h2{
  font-family: CaesarFont;
  font-size: 40px;
  line-height: 60px;
}
.CloseC{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-C li{
  font-family: CaesarFont;
  font-size: 18px;
  line-height: 30px;
}
.abt-popup-C ul a{
  font-family: CaesarFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-C ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-C ul a img{
  width: 15px;
  margin-top: -80px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-C ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container3 {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc3{
  position: absolute;
  top: 60px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*Niki*/

@font-face {
  font-family: NikiFont;
  src: url(fonts/Wondar\ Quason\ Free.ttf);
}

.NIKI{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(2, 0, 144, 0.555),rgba(0, 0, 0, 0)),url(images/NIKIbg.jpg);
  background-size:cover;
  background-position: center;
}
.NIKI{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.NIKI h1{
  font-family: NikiFont;
  font-size: 80px;
  font-weight: 400;
}
.NIKI p{
  font-family: NikiFont;
  font-size: 30px;
}


.niki-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.niki-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.n-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.n-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.n-layer h3{
  font-family: NikiFont;
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.n-layer:hover h3{
  font-family: NikiFont;
  bottom: 70%;
  opacity: 1;
 }


 .abt-popup-N{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 50px 30px 20px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-N p{
  font-size: 18px;
  line-height: 20px;
}
.abt-popup-N h2{
  font-family: NikiFont;
  font-size: 40px;
  line-height: 70px;
}
.CloseN{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-N li{
  font-family: NikiFont;
  font-size: 18px;
  line-height: 25px;
}
.abt-popup-N ul a{
  font-family: NikiFont;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-N ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-N ul a img{
  width: 15px;
  margin-top: -80px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-N ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container4{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc4{
  position: absolute;
  top: 60px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}

/*Mrld*/

.MRLD{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(92, 0, 47, 0.555),rgba(0, 0, 0, 0)),url(images/MRLDbg.jpg);
  background-size:cover;
  background-position: center;
}
.MRLD{
  margin: auto;
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.MRLD h1{
  font-size: 60px;
  font-weight: 400;
}
.MRLD p{
  font-size: 20px;
}


.mrld-abt{
  flex-basis: auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin: -200px;
}
.mrld-abt img{
  width: 30%;
  height: auto;
  padding-top: 225px;
  padding-left: 400px;
}
.m-layer{
  background: transparent;
  height: 100%;
  width: 30%;
  position: absolute;
  display: block;
  top: 225px;
  left: 400px;;
  transition: 0.5s;
}
.m-layer:hover{
  background: rgba(0, 0, 0, 0.375);
  cursor: pointer;
}
.m-layer h3{
  font-family: "Bungee", sans-serif;
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.m-layer:hover h3{
  bottom: 70%;
  opacity: 1;
 }


 .abt-popup-M{
  width: 600px;
  height: 600px;
  background: black;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 40px 30px 20px;
  position: fixed;
  top: 50%; left: 50%;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}
.abt-popup-M p{
  font-size: 13px;
}
h2{
  font-family: "Bungee", sans-serif;
  font-size: 20px;
}
.CloseM{
  position: fixed;
  top: 0; left: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.abt-popup-M li{
  font-family: "Bungee", sans-serif;
  font-size: 13px;
}
.abt-popup-M ul a{
  font-family: "Bungee", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #808080;
  display: block;
  text-align: left;
  margin-bottom: -205px;
}
.abt-popup-M ul a:hover{
  color: rgb(255, 255, 255);
}
.abt-popup-M ul a img{
  width: 15px;
  margin-top: -90px;
  margin-left: -400px;
  padding-right: 10px;
}
.abt-popup-M ul a.sptfy img{
  width: 35px;
  margin-left: -410px;
  padding-right: 3px ;
}


.slider-container5{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.close-disc5{
  position: absolute;
  top: 60px; left: 10px;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}


/*image slider*/

.slides {
  width: 100%;
  height: auto;
  margin : 10px;
}
.slides img {
  position: relative;
  top: 50%; left: 50%;
  transform: translate( -113%, -10%);
  object-fit: cover;
}
button {
  position: absolute;
  top: 50%;
  transform: translateY(0);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.next {
  right: 4%;
}


@media screen and (max-width: 1200px) {

  nav{
    width: 100vw;
    height: 5%;
  }
  ul li ul.dropdown{
    position: fixed;
  }
  ul li ul.dropdown li{
    display: flex;
    transform: translateX(-2%);
    font-size: 13px;
    line-height: 0.5rem;
  }
  .home{
    height: 50vh;
  } 
  .About{
    height: 50vh;
  }
  h1{
    font-size: 70px;
    transform: translateY(60%);
    padding-top:10% ;
  }
  p{
    font-size: 30px;
    transform: translateY(30%);
  }

  .EdSheeran{
  height: 50vh;
  }
  .EdSheeran h1{
    font-size: 80px;
    transform: translateY(-25%);
  }
  .EdSheeran p{
    font-size: 30px;
    transform: translateY(0%);
  }
  .ed-abt{
    flex-basis: auto;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    margin: -100px;
  }
  .ed-abt img{
    width: 40%;
    height: auto;
    padding-top: 150px;
    padding-left: 250px;
  }
  .layer{
    width: 40%;
    top: 150px;
    left: 250px;
  }
  .layer:hover h3{
    bottom: 65%;
  }

  .abt-popup{
    width: 70%;
    height: 70%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    text-align: center;
    position: fixed;
    padding: 60px 20px 0px;
    top: 50%; left: 50%;
    display: none;
    z-index: 2;
  }
  .abt-popup p{
    font-size: 40px;
    line-height: 60px;
    transform: translateY(0%);
  }
  .abt-popup h2{
    font-size: 80px;
    line-height: 85px;
    transform: translateY(50%);
  }
  .abt-popup li{
    font-size: 40px;
    line-height: 60px;
    padding-top: 35px;
  }
  .abt-popup ul a{
    font-size: 50px;
    text-decoration: none;
    color: #808080;
    display: list-item;
    text-align: left;
    padding-left: 30px;
  }
  .abt-popup ul a img{
    width: 25px;
    margin-top: -270px;
    margin-left: -270px;
    padding-top: 300px;
    padding-right: 10px;
  }
  .abt-popup ul a.sptfy img{
    width: 65px;
    margin-left: -290px;
  }
  .Close{
    position: fixed;
    top: 0; left: 10px;
    font-size: 100px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
  }
  
  .container{
    width: 100vw;
    height: 100%;
  }
  .swiper{
    width: 100%;
    height: 50%;
    margin : 10px;
    text-decoration: none;
    transform: translateY(40%);
  }
  .swiper-slide{
    width: 50%;
  }
  .swiper-slide img{
    width: 70%;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(72%, -40%);
    object-fit: cover;
    padding: 0;
    z-index: 999;
  }
  .swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
  }
  .closeE{
    top: 3%;
    font-size: 150px;
  }

  .TaylorSwift{
    height: 50vh;
    padding: 0;
  }
  .TaylorSwift h1{
    transform: translateY(0%);
    font-size: 600%;
  }
  .TaylorSwift p{
    font-size: 300%;
  }

  .tay-abt{
    width: 100%;
    height: 50%;
    margin: -125px;
    padding: 0;
  }
  .tay-abt img{
    padding-top: 20%;
    padding-left: 35%;
  }
  .t-layer{
    top: 40%;
    left: 35%;
  }
  .abt-popup-T{
    width: 70%;
    height: 70%;
    padding: 0 5% 0;
  }
  .abt-popup-T ul{
    transform: translateY(7.5%);
  }
  .abt-popup-T p{
    font-size: 40px;
    padding: 0;
  }
  .abt-popup-T h2{
    font-size: 80px;
    line-height: 85px;
    transform: translateY(150%);
  }
  .abt-popup-T li{
    font-size: 40px;
    line-height: 60px;
    padding-top: 5%;
  }
  .abt-popup-T ul a{
    width: 50%;
    font-size: 400%;
    margin-top: 5%;
    transform: translateY(100%);
    margin-bottom: 0;
  }
  .abt-popup-T ul a img{
    width: 20%;
    margin-left: -40%;
    padding-right: 6%;
  }
  .abt-popup-T ul a.sptfy img{
    width: 40%;
    margin-left: -50%;
    padding-right: 5% ;
  }
  .CloseT{
    font-size: 100px;
  }
  .slideshow-container {
    width: 100vw;
    height: 100%;
  }
  .mySlides {
    width: 70%;
    transform: translate( -13%, 70%);
  }
  .prev, .next {
    top: 45%;
    width: auto;
    font-size: 100px;
    border-radius: 0 3px 3px 0;
    margin-left: -45%;
    margin-right: 5%;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .close-disc-T{
    font-size: 150px;
  }

  .WEEKND{
    height: 50vh;
    padding: 0;
  }
  .WEEKND h1{
    transform: translateY(0%);
    font-size: 700%;
  }
  .WEEKND p{
    font-size: 250%
  }
  .weeknd-abt{
    width: 100vw;
  }
  .weeknd-abt{
    width: 100%;
    height: 50%;
    margin: -125px;
    padding: 0;
  }
  .weeknd-abt img{
    padding-top: 20%;
    padding-left: 35%;
  }
  .w-layer{
    top: 40%;
    left: 35%;
  }
  .w-layer h3{
    font-size: 250% ;
  }
  .abt-popup-W{
    width: 70%;
    height: 70%;
    padding: 0 5% 0;
  }
  .abt-popup-W ul{
    transform: translateY(7.5%);
  }
  .abt-popup-W p{
    font-size: 40px;
    padding: 0;
    transform: translateY(10%);
  }
  .abt-popup-W h2{
    font-size: 80px;
    line-height: 85px;
    transform: translateY(150%);
  }
  .abt-popup-W li{
    font-size: 40px;
    line-height: 60px;
    padding-top: 5%;
  }
  .abt-popup-W ul a{
    width: 50%;
    font-size: 350%;
    margin-top: 5%;
    transform: translateY(150%);
    margin-bottom: 0;
  }
  .abt-popup-W ul a img{
    width: 20%;
    margin-left: -40%;
    padding-right: 5%;
  }
  .abt-popup-W ul a.sptfy img{
    width: 40%;
    margin-left: -50%;
  }
  .CloseW{
    font-size: 100px;
  }
  .slider-container{
    height: 100%;
    width: 100vw;
  }
  .slider-container img{
    width: 70%;
    transform: translate(-67%, 60%);
    margin-bottom: 100%;
  }
  .close-disc{
    font-size: 150px;
  }
  .LAUFEY{
    height: 50vh;
    padding: 0;
  }
  .LAUFEY h1{
    transform: translateY(0%);
    font-size: 800%;
    padding-top: 5%;
  }
  .LAUFEY p{
    font-size: 250%;
  }
  .laufey-abt{
    width: 100vw;
  }
  .laufey-abt{
    width: 100%;
    height: 50%;
    margin: -125px;
    padding: 0;
  }
  .laufey-abt img{
    padding-top: 20%;
    padding-left: 35%;
  }
  .l-layer{
    top: 40%;
    left: 35%;
  }
  .l-layer h3{
    font-size: 250% ;
  }
  .abt-popup-L{
    width: 70%;
    height: 70%;
    padding: 0 5% 0;
  }
  .abt-popup-L ul{
    transform: translateY(15%);
  }
  .abt-popup-L p{
    font-size: 45px;
    padding: 0;
    transform: translateY(10%);
  }
  .abt-popup-L h2{
    font-size: 80px;
    line-height: 85px;
    transform: translateY(150%);
  }
  .abt-popup-L li{
    font-size: 40px;
    line-height: 60px;
    padding-top: 5%;
  }
  .abt-popup-L ul a{
    width: 50%;
    font-size: 350%;
    margin-top: 5%;
    transform: translateY(50%);
    margin-bottom: 0;
  }
  .abt-popup-L ul a img{
    width: 20%;
    margin-left: -40%;
    padding-right: 5%;
  }
  .abt-popup-L ul a.sptfy img{
    width: 40%;
    margin-left: -50%;
  }
  .CloseL{
    font-size: 100px;
  }
  .slider-container2{
    height: 100%;
    width: 100vw;
  }
  .slider-container2 img{
    width: 70%;
    transform: translate(-67%, 60%);
    margin-bottom: 100%;
  }
  .close-disc2{
    font-size: 150px;
  }
  .CAESAR{
    height: 50vh;
    padding: 0;
  }
  .CAESAR h1{
    transform: translateY(0%);
    font-size: 550%;
    padding-top: 5%;
  }
  .CAESAR p{
    font-size: 250%;
  }
  .caesar-abt{
    width: 100vw;
  }
  .caesar-abt{
    width: 100%;
    height: 50%;
    margin: -125px;
    padding: 0;
  }
  .caesar-abt img{
    padding-top: 20%;
    padding-left: 35%;
  }
  .c-layer{
    top: 40%;
    left: 35%;
  }
  .c-layer h3{
    font-size: 200%;
  }
  .abt-popup-C{
    width: 70%;
    height: 70%;
    padding: 0 5% 0;
  }
  .abt-popup-C ul{
    transform: translateY(15%);
  }
  .abt-popup-C p{
    font-size: 45px;
    line-height: 60px;
    padding: 0;
    transform: translateY(12%);
  }
  .abt-popup-C h2{
    font-size: 80px;
    line-height: 85px;
    transform: translateY(150%);
  }
  .abt-popup-C li{
    font-size: 40px;
    line-height: 60px;
    padding-top: 5%;
  }
  .abt-popup-C ul a{
    width: 50%;
    font-size: 350%;
    margin-top: 5%;
    transform: translateY(50%);
    margin-bottom: 0;
  }
  .abt-popup-C ul a img{
    width: 20%;
    margin-left: -40%;
    padding-right: 5%;
  }
  .abt-popup-C ul a.sptfy img{
    width: 40%;
    margin-left: -50%;
  }
  .CloseC{
    font-size: 100px;
  }
  .slider-container3{
    height: 100%;
    width: 100vw;
  }
  .slider-container3 img{
    width: 70%;
    transform: translate(-67%, 60%);
    margin-bottom: 100%;
  }
  .close-disc3{
    font-size: 150px;
  }
  .NIKI{
    height: 50vh;
    padding: 0;
  }
  .NIKI h1{
    transform: translateY(0%);
    font-size: 1000%;
    padding-top: 5%;
  }
  .NIKI p{
    font-size: 350%;
  }
  .niki-abt{
    width: 100vw;
  }
  .niki-abt{
    width: 100%;
    height: 50%;
    margin: -125px;
    padding: 0;
  }
  .niki-abt img{
    padding-top: 20%;
    padding-left: 35%;
  }
  .n-layer{
    top: 40%;
    left: 35%;
  }
  .n-layer h3{
    font-size: 250%;
  }
  .abt-popup-N{
    width: 70%;
    height: 70%;
    padding: 0 5% 0;
  }
  .abt-popup-N ul{
    transform: translateY(15%);
  }
  .abt-popup-N p{
    font-size: 45px;
    line-height: 60px;
    padding: 0;
    transform: translateY(10%);
  }
  .abt-popup-N h2{
    font-size: 80px;
    line-height: 85px;
    transform: translateY(175%);
  }
  .abt-popup-N li{
    font-size: 40px;
    line-height: 60px;
    padding-top: 5%;
  }
  .abt-popup-N ul a{
    width: 50%;
    font-size: 350%;
    margin-top: 5%;
    transform: translateY(50%);
    margin-bottom: 0;
  }
  .abt-popup-N ul a img{
    width: 20%;
    margin-left: -40%;
    padding-right: 5%;
  }
  .abt-popup-N ul a.sptfy img{
    width: 40%;
    margin-left: -50%;
  }
  .CloseN{
    font-size: 100px;
  }
  .slider-container4{
    height: 100%;
    width: 100vw;
  }
  .slider-container4 img{
    width: 70%;
    transform: translate(-67%, 60%);
    margin-bottom: 100%;
  }
  .close-disc4{
    font-size: 150px;
  }
  .MRLD{
    overflow-y: hidden;
    height: 50vh;
    padding: 0;
  }
  .MRLD h1{
    transform: translateY(-20%);
    font-size: 800%;
    padding-top: 5%;
  }
  .MRLD p{
    transform: translateY(-100%);
    font-size: 250%;
  }
  .mrld-abt{
    width: 100vw;
  }
  .mrld-abt{
    width: 100%;
    height: 50%;
    margin: -125px;
    padding: 0;
  }
  .mrld-abt img{
    transform: translateY(-30%);
    padding-top: 20%;
    padding-left: 35%;
  }
  .m-layer{
    top: 10%;
    left: 35%;
  }
  .m-layer h3{
    font-size: 225%;
  }

  .abt-popup-M{
    width: 70%;
    height: 70%;
    padding: 0 5% 0;
  }
  .abt-popup-M ul{
    transform: translateY(15%);
  }
  .abt-popup-M p{
    font-size: 40px;
    line-height: 60px;
    padding: 0;
    transform: translateY(10%);
  }
  .abt-popup-M h2{
    font-size: 80px;
    line-height: 85px;
    transform: translateY(175%);
  }
  .abt-popup-M li{
    font-size: 40px;
    line-height: 60px;
    padding-top: 5%;
  }
  .abt-popup-M ul a{
    width: 50%;
    font-size: 200%;
    margin-top: 8%;
    transform: translateY(55%);
    margin-bottom: 0;
  }
  .abt-popup-M ul a img{
    width: 10%;
    margin-left: -40%;
    padding-top: 0;
    padding-right: 5%;
  }
  .abt-popup-M ul a.sptfy img{
    width: 20%;
    margin-left: -45%;
    padding-right: 5%;
  }
  .CloseM{
    font-size: 100px;
  }
  .slider-container5{
    height: 100%;
    width: 100vw;
  }
  .slider-container5 img{
    width: 70%;
    transform: translate(-67%, 60%);
    margin-bottom: 100%;
  }
  .close-disc5{
    font-size: 150px;
  }
  .m-layer:hover h3{
    bottom: 60%;
   }
}







